<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/imagens/banner1.PNG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/imagens/banner2.PNG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/imagens/banner3.PNG" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Jogos em Promoção</h2> 

    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="./assets/imagens/jogo1.PNG" alt="jogo1">
                <mat-card-header>
                  <mat-card-title>Jogo 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Jogo 1 é um emocionante jogo de aventura e estratégia, ambientado em um mundo fictício cheio de mistérios e desafios. Os jogadores assumem o papel de um herói destemido que embarca em uma jornada épica para salvar seu reino da ameaça iminente de um mal antigo.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 400,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="./assets/imagens/jogo2.PNG" alt="jogo2">
                <mat-card-header>
                  <mat-card-title>Jogo 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Jogo 2 é um jogo de simulação e construção que coloca os jogadores no papel de um visionário empreendedor. Neste jogo, os jogadores assumem o desafio de construir e administrar sua própria cidade próspera em um ambiente virtual rico e interativo.


                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 300,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="./assets/imagens/jogo3.PNG" alt="jogo3">
                <mat-card-header>
                  <mat-card-title>Jogo 3</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Jogo 3 é um jogo de ação e aventura que transporta os jogadores para um universo futurista e repleto de tecnologia avançada. Neste jogo, os jogadores assumem o papel de um agente especial altamente treinado, encarregado de proteger a humanidade de ameaças mortais.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 250,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
      

    
      
</main>